@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

* {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Newsreader", serif;
}

.app {
  width: 100%;

  .hero {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    height: 100vh;
    width: 100%;
    background-color: rgb(32, 22, 22);

    .hero_header {
      width: 100%;
      height: 50px;
      min-height: 50px;
      background-color: azure;
      display: flex;

      .header_menu {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        ul.main_nav {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          li {
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px 20px;

            img {
              background-size: contain;
            }

            span {
              padding: 0 5px;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;

              &::before,
              &::after {
                content: '';
                position: absolute;
                transition: all 0.5s ease;
              }

              &:before {
                left: 0;
                bottom: 120%;
                width: 1px;
                height: 10px;
              }

              &:after {
                left: 120%;
                bottom: 0;
                width: 10px;
                height: 1px;
              }

              &:hover:before {
                background-color: black;
                bottom: 0;
              }

              &:hover:after {
                background-color: black;
                left: 0;
              }
            }

          }

          li:hover {
            cursor: pointer;
          }
        }

        .menu_toogle {
          cursor: pointer;
          display: none;
          align-items: center;
          justify-content: center;
          height: auto;
          position: absolute;
          right: 15px;
        }
      }
    }

    .hero_content {
      height: calc(100% - 50px);
      width: 100%;
      display: flex;
      position: relative;

      .content_bgd {
        position: absolute;
        width: 100%;
        // height: 100%;
        background-image: url('../images/hero_bgd.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 10%;
      }

      .content_description {
        width: 60%;
        overflow: hidden;
        padding: 50px;
        box-sizing: border-box;

        .description_text {
          display: flex;
          color: #eee4e4;
          flex-direction: column;
          width: 100%;
          height: 100%;
          justify-content: center;

          h1 {
            height: 20%;
            font-size: 2rem;
          }

          span {
            line-height: 2rem;
            text-align: justify;
            height: 50%;
            font-size: 1.1rem;
          }
        }
      }
    }

    .open {
      position: absolute;
      right: 0;
      background-color: azure;
      display: flex;
      top: calc(50px);
      flex-direction: row;
      min-width: 200px;
      width: 20%;
      padding: 10px;
      padding-top: 0;
      box-sizing: border-box;
      height: 200px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: all 0.5s ease;

      ul.main_mobile_nav {
        border-top: 1px solid black;
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 300ms;

            &::before,
            &::after {
              content: '';
              position: absolute;
              transition: all 0.5s ease;
            }

            &:before {
              left: 0;
              bottom: 120%;
              width: 1px;
              height: 10px;
            }

            &:after {
              left: 120%;
              bottom: 0;
              width: 10px;
              height: 1px;
            }

            &:hover:before {
              background-color: black;
              bottom: 0;
            }

            &:hover:after {
              background-color: black;
              left: 0;
            }
          }

          span:active {
            transform: translateY(5px);
          }
        }

        li:hover {
          cursor: pointer;
        }
      }

    }

    .close {
      display: none;
    }
  }

  .about {
    width: 100%;
    height: auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40PX;
    background-color: #f9f1f1;

    .about_description {
      padding-bottom: 40px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 0.5px solid rgb(58, 39, 14);

      .description_header {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
      }

      .description_text {
        width: 60%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
        line-height: 30px;
      }
    }

    // .about_reviews {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   width: 100%;
    //   height: 40%;
    //   // background-color: greenyellow;
    //   border-bottom: 0.5px solid rgb(58, 39, 14);
    // }
  }

  .menu {
    background-color: #f9f1f1;
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 40px;
    box-sizing: border-box;

    .menu_header {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
    }

    .menu_view {
      margin-top: 20px;

      .view_title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 15px;

        h4 {
          text-decoration: underline;
        }
      }

      .view_section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .card {
          background-color: #eee4e4;
          flex: 1 1 calc(25% - 15px);
          padding: 10px;
          box-sizing: border-box;
          height: calc(100vh/2);
          max-height: 400px;
          min-height: 250px;
          max-width: 25%;
          min-width: 280px;
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

          .card_img {
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;

            img {
              width: 100%;
              border-radius: 10px;
              object-fit: cover;
            }
          }

          .card_text {
            height: 30%;
            display: flex;
            flex-direction: column;

            div {
              display: flex;
              align-items: center;
            }

            .card_name,
            .card_price {
              height: 30%;
            }

            .card_name {
              font-weight: 600;
            }

            .card_price {
              align-items: end;
              justify-content: end;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .contact {
    background-color: #303030;
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 40px;
    box-sizing: border-box;

    .contact_info {
      display: flex;
      width: 100%;
      min-height: 220px;
      height: auto;
      border-top: 0.5px solid #eee4e4;
      border-bottom: 0.5px solid #eee4e4;
      padding: 5px 0;
      box-sizing: border-box;

      .info_address,
      .info_hours,
      .info_menu {
        width: calc(100%/3);
        height: 220px;
        min-height: 220px;
      }

      .info_address {
        height: 220px;

        .address_logo {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 60%;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .address_link {
          width: 100%;
          height: 20%;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            width: 100%;
            color: white;
            font-size: 1.2rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: underline 0.10em rgba(255, 255, 255, 0);
            transition: all 300ms;
          }

          span:hover {
            cursor: pointer;
            text-decoration-color: rgba(255, 255, 255, 1);
          }

          span:active {
            transform: translateY(5px);
          }
        }

        .address_phone {
          width: 100%;
          height: 20%;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            width: 100%;
            color: white;
            font-size: 1rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

      }

      .info_hours {
        .hours_list {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: #eee4e4;

          span {
            display: flex;
            align-items: center;
            height: 15%;
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 15px;
          }

          ul {
            display: flex;
            flex-direction: column;
            list-style: none;
          }
        }
      }

      .info_menu {
        .menu_pages {
          width: 100%;
          height: 75%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: #eee4e4;

          ul {
            display: flex;
            flex-direction: column;
            list-style: none;

            li span {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: underline 0.10em rgba(255, 255, 255, 0);
              transition: all 300ms;
            }

            li span:hover {
              cursor: pointer;
              text-decoration-color: rgba(255, 255, 255, 1);
            }

            li span:active {
              transform: translateY(5px);
            }
          }
        }

        .menu_socialmedia {
          width: 100%;
          height: 25%;
          display: flex;
          color: #eee4e4;
          padding: 5px;
          box-sizing: border-box;

          .socialmedia_section {
            cursor: pointer;
            width: 50%;
            height: 100%;
            display: flex;

            .section_logo {
              width: 30%;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .section_profile {
              padding-left: 5px;
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              font-weight: 500;
            }
          }

          .book_now {
            background-color: transparent;
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button {
              width: 60%;
              height: 80%;
              margin-right: 20px;
              background-color: transparent;
              background-color: #cf9800;
              color: #eee4e4;
              font-size: 1rem;
              font-weight: 500;
              border: 1px solid #725400;
              border-radius: 4px;
              cursor: pointer;
              transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;

              &:hover {
                background-color: #eee4e4;
                color: #141414;
                transform: scale(1.05);
                box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
              }

              &:active {
                transform: scale(0.95);
              }
            }
          }


        }

      }
    }
  }
}

@media (max-width: 768px) {
  .app {
    .hero {
      height: auto;

      .hero_header {
        .header_menu {
          ul.main_nav li {
            display: none;
          }

          .menu_toogle {
            display: flex;
          }
        }
      }

      .hero_content {
        min-height: calc(100vh - 50px);

        .content_description {
          height: auto;
          width: 100%;

          .description_text {
            align-items: center;

            span {
              text-align: center;
            }
          }
        }
      }
    }

    .contact {
      .contact_info {
        flex-direction: column;

        .info_address,
        .info_hours,
        .info_menu {
          width: 100%;
        }

        .info_address,
        .info_hours {
          margin-bottom: 20px;
        }

        .info_hours {
          .hours_list {
            ul {
              align-items: center;
            }
          }
        }

        .info_menu {
          .menu_socialmedia {
            .socialmedia_section {
              justify-content: center;
            }

            .book_now {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}